
#git {    
    float: right;
}
#connect{
    background-color: #84777f
}
dl {
    border: 3px solid;
    padding: 0.5em;
}
dt {
    float: left;
    width: 300px;
    text-align: right;
    color: black;
}
dt::after {
    content: ":";
}
dd {
    margin: 0 20px 0 110px;
    text-align: center;
}

ul {
    list-style-type: square;
}

dt a{
    text-decoration: underline;
}